#files
*.thumb
*.user
*.suo

#Directories
Singleton/bin
Singleton/obj
Cedir/bin
Cedir/obj
CedirDataAccess/bin
CedirDataAccess/obj
CedirNegocios/bin
CedirNegocios/obj
FacturaElectronica/bin
FacturaElectronica/obj
Setup/Debug
Setup/Release
bin/
obj/
*.sln
*.resx
*.config
FacturaElectronica/My Proyect/
Singleton/My Project/
